.first{
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    margin-top: 30px !important;
    background-color: rgb(253, 241, 253);
    width: 90%;
    border-radius: 20px;
}
.Try_out{
    margin-top: 10px;
    float: right;
    border-radius: 20px;
    background-image: linear-gradient(310deg,#c984c3,#ff0080);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.site_logo{
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}
.sec{
    height: 70vh;
    background-size: cover;
    background-image: url(https://demos.creative-tim.com/marketplace/soft-ui-design-system-pro/assets/img/curved-images/curved1.jpg);
}
.bg{
    position: absolute;
    background-size: cover;
    background-position: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    opacity: .8;
    background-image: linear-gradient(310deg,#7928ca,#ff0080);
}
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 62%;
    bottom: 28vh;
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 28s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 28s linear infinite;
}
.it{
    position: absolute;
    margin-top: 150px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 500px;
}
.it > .firstP{
    font-size: 40px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.it > p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.third{
    opacity: 0.9;
    position: absolute;
    margin-top: -100px;
    z-index: 20;
    height: 200px;
    background-color: rgb(253, 241, 253);
    width: 65%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;

}
.vertical {
    border-left: 0.1px solid black;
    height: 200px;
    position:absolute;
    left: 50%;
    opacity: 0.1;
  }
table{
    text-align: center;
    width: 103%;
}
.headers{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #d355d1;
}
.restyle{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  