body{
    background-color: pink;
}
nav{
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    margin-top: 30px !important;
    background-color: rgb(253, 241, 253);
    width: 85%;
    border-radius: 20px;
}
.Try_out{
    float: right;
    border-radius: 20px;
    background-color: ;
}
.site_logo{
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}